html,body{
    overflow: hidden
    height: 100%
}
a, a:hover, a:visited, a:link, a:active {
color: #000;
text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1;
}

ul {
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    line-height: 1;
}

li {
    float:left;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style:none;
    display: list-item;
    text-align: -webkit-match-parent;
}



#header{
    width: 320px;
    height: 108px;
    left: 0px;
    top: 0px;
    background-image: url(images/header.png);
    background-size:cover;
}
#lab{
    position: absolute;
    width: 180px;
    height: 21px;
    left: 65px;
    top: 10px;
    color: white;
}
#all_m{
    position: absolute;
    width: 180px;
    height: 30px;
    left: 65px;
    top: 41px;
    color: white;
    font-size: 20px;
}
#level_m{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 258px;
    top: 40px;
    color: white;
    font-size: 22px;
}
#plus_m{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 291px;
    top: 43px;
    background-image: url(images/plus_icon.png);
    background-size:cover;
}
#now_m{
    position: absolute;
    width: 157px;
    height: 24px;
    left: 35px;
    top: 79px;
    font-size: 16px;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#icon_m{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 12px;
    top: 20px;
    background-image: url(images/trans_none.png);
    background-size:cover;
}




.scrollbox{
    width: 320px;
    height: 240px;
    overflow-y: scroll;
    overflow-x:hidden;
    display:block;
}
.scrollbox::-webkit-scrollbar {
    width:3px;
    background:#eee;
}
.scrollbox::-webkit-scrollbar-button {
    width:3px;
    height:3px;
    background:#666;
}
.scrollbox::-webkit-scrollbar-thumb {
    background:#999;
}
.scrollbox::-webkit-scrollbar-corner {
    background:#ddd;
}
#box{
    width: 320px;
    top:0px;
    position:relative;
    /*height: 380px;*/
    overflow:auto; /* scrollからautoに変更 */
    -webkit-overflow-scrolling:touch;
}



#u_buttons {
    width: 320px;
    height: 64px;
    left: 0px;
    top: 0px;
    position:relative;
}
/*下のボタン*/
#u_buttons .button1 {
    display: block;
    background: url("images/button_home.png") no-repeat 0 ;
    background-size:cover;
    width: 64px;
    height: 64px;
}
#u_buttons .button2 {
    display: block;
    background: url("images/button_member.png") no-repeat 0 ;
    background-size:cover;
    width: 64px;
    height: 64px;
}
#u_buttons .button3 {
    display: block;
    background: url("images/button_collabo.png") no-repeat 0 ;
    background-size:cover;
    width: 64px;
    height: 64px;
}
#u_buttons .button4 {
    display: block;
    background: url("images/button_event.png") no-repeat 0 ;
    background-size:cover;
    width: 64px;
    height: 64px;
}
#u_buttons .button5 {
    display: block;
    background: url("images/button_info.png") no-repeat 0 ;
    background-size:cover;
    width: 64px;
    height: 64px;
}


















.float_text{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    width:270px;
    left:10px;
}
#floating {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
}
#float_body {
	width: 290px;
	height: 176px;
	margin-top: -85px;
	position: absolute;
	top: 50%;
	left: 15px;
	background: Honeydew;
	z-index: 1;
    background-image:url(images/float3.png);
    background-size:cover;
}
#float_body .btn1{
	position: absolute;
	top:45px;
	left:70px;
    background: #EEE;
    border: 1px solid #DDD;
    color: #111;
    width: 60px;
    height: 25px;
    padding: 5px 0 0 0;
    text-decoration:none;
    text-align: center;
    font-weight: normal;
}
#float_back {
	width: 100%;
	height: 100%;
	background: #000;
}
#float_text {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 260px;
    height: 40px;
    margin: 0;
    padding: 5px;
    border: 0;
	background: orange;
	text-align: center;
}
#info_batu{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	margin-top: -97px; /*float_bodyのmargin-topから-12*/
	left: 292px;
	-moz-background-size:100% auto;
	background-size:100% auto;
	background-image:url("images/batu.png");
    z-index: 1;
}






.ls{
    position: absolute;
    color: white;
}

#l_1{
    position: absolute;
    top:10px;
    left:10px;
    height: 21px;
    width: 270px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#l_2{
    position: absolute;
    top:32px;
    left:10px;
    height: 30px;
    width: 270px;
    font-size: 18px;
    color: #C6F8F8;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#l_3{
    position: absolute;
    top:55px;
    left:10px;
    height: 15px;
    width: 270px;
    font-size: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#l_4{
    position: absolute;
    top:74px;
    left:20px;
    height: 85px;
    width: 240px;
    border: 5px inset #61d7d7;
    background: #1861ae;
}
#l_5{
    position: absolute;
    top:5px;
    left:20px;
    height: 21px;
    width: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#l_6{
    position: absolute;
    top:25px;
    left:20px;
    height: 21px;
    width: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#l_7{
    position: absolute;
    top:50px;
    left:45px;
    width:60px;
    height:30px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    background-image:url(images/button_correct_3060.png);
    background-size:cover;
    color: black;
}
#l_8{
    position: absolute;
    top:50px;
    left:145px;
    width:60px;
    height:30px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    background-image:url(images/button_incorrect_3060.png);
    background-size:cover;
    color: black;
}
#l_border{
    position: absolute;
    top:29px;
    left:25px;
    width:240px;
    border: 0;
    height: 1px;
    margin: 0;
    background-image: -webkit-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:    -moz-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:     -ms-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:      -o-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
}






#notice{
	text-align:center;
	font-size:20px;
	height:30px;
	background-color:lemonchiffon;
	position:relative;
}
#notice .trans_img{
	height:24px;
	width:24px;
	position: absolute;
	top:3;
	
	-moz-background-size:100% auto;
	background-size:100% auto;
}
#trans_img1{
	left:3;
	background-image:url("images/trans_none.png");
}
#trans_img2{
	right:3;
	background-image:url("images/trans_none.png");
}









#loginbox {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background:#aaa;
}
#loginbox_ {
	position: absolute;
	top:80;
	left: 40;
	height: 300px;
	width: 240px;
	background:#FFF;
}
#logintitle{
	position: absolute;
	text-align:center;
	top:40;
	left: 70;
	font-size:26px;
	width: 100px;
	color:#4169e1;
}
.loginbody {
	position: absolute;
	left: 70;
	height: 20px;
	width: 100px;
	font-size:10px;
	color:#aaa;
}
#l1{top:105;}
#l2{top:155;}
.logintext{
	position: absolute;
	border:0;
	font-size:14px;
	color:#333;
	border:solid 1px #ccc;
	margin:0 0 0px;
	width:100px;
	left:70px;
}
#id_t{top:120;}
#pass_t{top:170}
#login_button{
	position: absolute;
	text-align:center;
	top:220;
	left: 85;
	font-size:18px;
	width: 70px;
	height: 20px;
	color:#222;
}





