BODY { 
	overflow-x : hidden ;
}
a, a:hover, a:visited, a:link, a:active {
color: #000;
}

#all_contents{
	width: 100%;
	position: relative;
}

.quest_list{
	width: 300px;
	height: 40px;
	position: absolute;
	left:10px;
    background-image: url(images/questlist2.png);
    background-size:cover;
    color: white;
}
.quest_s{
    position: absolute;
}
#q_1{
    top:3px;
    left: 5px;
    width: 17px;
    height: 17px;
    background-image: url(images/icon_quest1.png);
    background-size:cover;
}
#q_2{
    top:1px;
    left: 28px;
    width: 267px;
    height: 21px;
}
#q_3_{
    top:23px;
    left: 27px;
    width: 15px;
    height: 15px;
    background-image: url(images/icon_sanka.png);
    background-size:cover;
}
#q_3{
    top:21px;
    left: 111px;
    width: 100px;
    height: 18px;
    font-size: 12px;
}
#q_4{
    top:21px;
    left: 50px;
    width: 50px;
    height: 19px;
    font-size: 12px;
}
#q_4_{
    top:23px;
    left: 91px;
    width: 15px;
    height: 15px;
    background-image: url(images/icon_tokei.png);
    background-size:cover;
}
#q_border1{
    position: absolute;
    border:none;
    border-top:dashed 1px #fff;
    top:13px;
    left:27px;
    width:250px;
}





#q_mbox{
    top:120px;
    left: 10px;
    width: 270px;
    height: 100px;
    background-image: url(images/float_mem.png);
    background-size:cover;
    color: white;
}
#q_m1{
    top:17px;
    left: 10px;
    width:60px;
    height:60px;
    background-size: cover;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em; 
    box-sizing:border-box;
}
#q_m2{
    top:7px;
    left: 80px;
    width: 80px;
    height: 30px;
    font-size: 22px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#q_m3{
    top:13px;
    left: 170px;
    width: 80px;
    height: 20px;
    font-size: 12px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}

#q_m4{
    top:38px;
    left: 142px;
    width: 150px;
    height: 15px;
    font-size: 12px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#q_m4_{
    background-image: url(images/icon_per.png);
    background-size:cover;
    position: absolute;
    top:38px;
    left:80px;
    width:56px;
    height:14px;
}
#q_m5{
    top:58px;
    left: 142px;
    width: 150px;
    height: 15px;
    font-size: 12px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#q_m5_{
    background-image: url(images/icon_spe.png);
    background-size:cover;
    position: absolute;
    top:58px;
    left:80px;
    width:56px;
    height:14px;
}
#q_m6{
    top:79px;
    left:80px;
    width: 32px;
    height: 16px;
    font-size: 14px;
    color:white;
    background-image: url(images/icon_ron_m.png);
    background-size:cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#q_m7{
    top:79px;
    left:143px;
    width: 32px;
    height: 16px;
    font-size: 14px;
    color:white;
    background-image: url(images/icon_kai_m.png);
    background-size:cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#q_m8{
    top:79px;
    left:206px;
    width: 32px;
    height: 16px;
    font-size: 14px;
    color:white;
    background-image: url(images/icon_com_m.png);
    background-size:cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
.q_mbd1{
    position: absolute;
    border:none;
    border-top:solid 1px #fff;
    left:77px;
    width:178px;
    margin:0px;
    border: 0px;
}
#q_mborder1{top:35px; border-top:solid 1px #fff;}
#q_mborder2{top:55px; border-top:dashed 1px #fff;}
#q_mborder3{top:75px; border-top:dashed 1px #fff;}





#in_float_quest{
	top:10px;
	width: 270px;
    background-image: url(images/questlist2_s.png);
    background-size:cover;
}
#float_choice{
	width: 90px;
	height: 35px;
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	-webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
	justify-content: center; /* 横方向中央揃え */
	left:100px;
	top:228px;
    background-image: url(images/button_correct_3590.png);
    background-size:cover;
}



.mem_ratio input{
	display: none;
}
.mem_ratio label{
	display: block;
	float: left;
	cursor: pointer;
	width: 40px;
	height: 50px;
	margin: 0;
	padding: 0px;
	border: 1px solid #073A6F;
	background: #5D91C8;
	color: black;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
	position: absolute;
    font-size: 10px;
}
.mem_ratio input[type="radio"]:checked + label {
	background-color: #FFC811;
	color: black;
}
.mem_ratio #sel_label0{ top:60px; left:12px;}
.mem_ratio #sel_label1{ top:60px; left:57px;}
.mem_ratio #sel_label2{ top:60px; left:102px;}
.mem_ratio #sel_label3{ top:60px; left:147px;}
.mem_ratio #sel_label4{ top:60px; left:192px;}
.mem_ratio #sel_label5{ top:60px; left:237px;}

.float_text{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    width:270px;
    left:10px;
}

#floating {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
}
#float_body {
	width: 290px;
	height: 270px;
	margin-top: -135px;
	position: absolute;
	top: 50%;
	left: 15px;
	z-index: 1000;
	background: #fff;
    background-image:url(images/window_float1.png);
    background-size:cover;
	
}
#float_body .btn1{
	position: absolute;
	top:45px;
	left:70px;
    background: #EEE;
    border: 1px solid #DDD;
    color: #111;
    width: 60px;
    height: 25px;
    padding: 5px 0 0 0;
    text-decoration:none;
    text-align: center;
    font-weight: normal;
}
#float_back {
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #000;
}
#float_text {
    position: absolute;
}

#f_text1{
    top:28px;
    font-size:18px;
    color: white;
}
#f_text2_{
    background-image: url(images/icon_id.png);
    background-size:cover;
    position: absolute;
    top:102px;
    left:57px;
    width:30px;
    height:30px;
}
#f_text2{
    top:100px;
    width:240px;
    left:46px;
    font-size:30px;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
}
#f_text3{
    top:183px;
    color: orange;
}
#f_textborder{
    position: absolute;
    top:50px;
    left:25px;
    width:240px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:    -moz-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:     -ms-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
    background-image:      -o-linear-gradient(left, rgba(97,215,215,0), rgba(97,215,215,1), rgba(97,215,215,0));
}
#tweet_button{
    top:210px;
}
#info_batu{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	margin-top: -147px; /*float_bodyのmargin-topから-12*/
	left: 292px;
	-moz-background-size:100% auto;
	background-size:100% auto;
	background-image:url("images/batu.png");
	z-index:1000;
}
