BODY {
	overflow-x : hidden ;
}
a, a:hover, a:visited, a:link, a:active {
	color: #000;
	text-decoration: none;
}

#all_contents{
	width: 100%;
	position: relative;
}

#i_1{
	width: 200px;
	height: 40px;
	position: absolute;
	top:20px;
	left:60px;
	background: #ddd;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}

#i_2{
    width: 200px;
    height: 40px;
    position: absolute;
    top:70px;
    left:60px;
    background: #ddd;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
#i_3{
    width: 200px;
    height: 40px;
    position: absolute;
    top:120px;
    left:60px;
    background: #ddd;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
}
